services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bratislava
    volumes:
      - /companyname/AppData/Prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    networks:
      - media-net

networks:
  media-net:
    external: true
