services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bratislava
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - /PrivateDATA/tools/qbittorrent/:/config
      - /PrivateDATA/jellyfin/Downloads:/downloads #optional
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    networks:
      - media-net

networks:
  media-net:
    external: true
